<p id="notice"><%= notice %></p>

<div class="">
  <table class="table-hover paleBlueRows" align="center">
    <thead>
    <tr class="">
      <th class="column-title">Title</th>
      <th class="column-desc">Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @todo_lists.each do |todo_list| %>
        <tr>
          <td><%= todo_list.title %></td>
          <td><%= todo_list.description %></td>
          <td><%= link_to 'Show', todo_list, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_todo_list_path(todo_list), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>